* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header {
    
    position: relative;
    background-image: url('../imgs/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 65vh;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    padding: 20px;
}

.social-icons {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.social-item {
    margin: 0 10px;
}

.social-link {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #b5b5b5;
}

.header-content {
    padding-top: 80px;

}

.header-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.header-title {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-mono {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #F85C70;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c74153;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 36px;
    }

    .header-mono {
        font-size: 18px;
    }

    .social-icons {
        flex-wrap: wrap;
    }
}



/* nav style */



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    background-color: #eeeeee;
    padding: 20px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list-left,
.nav-list-center,
.nav-list-right {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

.nav-link:hover {
   color: #F85C70;
 
}

.active {
  color: #F85C70;

}

.mobile-menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-btn span {
    background-color: rgb(22, 22, 22);
    width: 25px;
    height: 3px;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .nav-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list-left,
    .nav-list-center,
    .nav-list-right {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .nav-list-left.active,
    .nav-list-center.active,
    .nav-list-right.active {
        display: flex;
    }

    .mobile-menu-btn {
        display: flex;
    }

    .nav-content.active .nav-list-left,
    .nav-content.active .nav-list-center,
    .nav-content.active .nav-list-right {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        font-size: 18px;
        padding: 10px 0;
        width: 100%;
    }

    .nav-list-center {
        justify-content: center;
    }

    .nav-list-left,
    .nav-list-right {
        justify-content: flex-start;
    }
}

/* aboout style */



.containerx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
    
}

.card {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
    width: 100%;
    max-width: 600px;
    border-right: 1px solid #F85C70;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    min-height: 400px;
    border-bottom: 1px solid #F85C70;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    padding: 40px;
        margin: 20px;
}

.card-title {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.card-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #F85C70;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #b5b5b5;
}

.card-list {
    list-style-type: none;
    padding-left: 0;
}

.card-list li {
    margin-bottom: 10px;
    color: #a4a3a3;
    font-size: 15px;
}

.card-list span {
    font-weight: bold;
    color: #373737;
    font-size: 15px;
}

.btncard {
    background-color: #F85C70;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

.btncard:hover {
    background-color: #e44b60;
}

.social-icons-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-icons-card i {
    font-size: 20px;
    color: #F85C70;
    margin-right: 15px;
}

.expertise-card {
    display: flex;
    flex-direction: column;
}

.expertise-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.expertise-item i {
    font-size: 25px;
    color: #F85C70;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .card {
        padding: 30px;
        min-height: 300px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .social-icons-card i {
        font-size: 18px;
    }
}


/* my resume */

.resume-section {
    padding: 60px 0;

}

.resume-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.resume-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 10px;
}
.highlight{
    color: #F85C70;
}

.resume-row {
    display: flex;
    flex-wrap: wrap;
}

.resume-column {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.resume-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-card-header {
    background-color: #ffffff;
    padding: 15px;
}


.resume-card-body {
    padding: 20px;
}
.header-contentresume{
    padding: 20px;
    background-color: #ffffff;
}
.header-contentresume h4{
    font-size: 25px;
    font-weight: lighter;
    
}
.divider-line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #F85C70;
    margin-top: 10px;
}
.resume-card-body h6{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #F85C70;
    margin-top: 10px;
}
.resume-card-body p{
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #737373;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
    color: #F85C70;
    margin-top: 10px;
}

.job-description {
    color: #6c757d;
    margin: 5px 0 15px;
}

.skill-progress {
    height: 7px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 15px;
}

.skill-bar {
    height: 100%;
    background-color: #F85C70;
    border-radius: 5px;
}
 .skills h6{
    font-size: 15px;
}


/* my project */

.stats-section {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 25px;
}

.stats-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.stats-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats-column {
    flex: 1;
    min-width: 250px;
    margin: 15px;
}

.stats-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}


.icon-container {
    flex: 0 0 40px;
    text-align: center;
    margin-right: 15px;
}

.stat-value {
    font-size: 40px;
    color: #f85c70;
    margin: 0;
}

.stat-description {
    color: #f8f9fa;
    margin: 0;
padding-left: 10px;
}

/* my services */

.services-section {
    padding: 60px 0;
    margin-bottom: 25px;
    background-color: #f8f9fa;
    text-align: center;
}

.services-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.services-container h2{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: start;
}

.services-container .text-danger{
    color: #F85C70;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-column {
    flex: 1;
    min-width: 280px;
    margin: 15px;
}

.service-card-ullam,
.service-card-asperiores,
.service-card-tempora,
.service-card-provident,
.service-card-consectetur,
.service-card-veritatis {
    background-color: #ffffff;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  
}



.card-header-ullam,
.card-header-asperiores,
.card-header-tempora,
.card-header-provident,
.card-header-consectetur,
.card-header-veritatis {
    font-size: 40px;
    padding: 5px;
    color: #F85C70;
}

.card-body-ullam,
.card-body-asperiores,
.card-body-tempora,
.card-body-provident,
.card-body-consectetur,
.card-body-veritatis {
    padding: 25px;
}

.card-title-ullam,
.card-title-asperiores,
.card-title-tempora,
.card-title-provident,
.card-title-consectetur,
.card-title-veritatis {
    font-size: 25px;
    color: #F85C70;
    margin-bottom: 15px;
    text-align: start;
}

.subtitle-ullam,
.subtitle-asperiores,
.subtitle-tempora,
.subtitle-provident,
.subtitle-consectetur,
.subtitle-veritatis {
    color: #b8b8b8;
    text-align: start;
    line-height: 1.5;
    margin: 0;
}
/* pricing */

.section {
    padding: 60px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1 0 21%;
    margin: 10px;
    min-width: 250px;
}

.price-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 55px;
    text-align: center;
}


.price-card-title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: lighter;
    color: #2a2a2a;
}
.section-titleprice {
    font-size: 30px;
    font-weight: lighter;
    color: #1c1c1c;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: start;
}

#price  .text-danger{
    color: #F85C70;
}

.price-card-cost {
    font-size: 24px;
    margin: 15px 0;
    font-weight: lighter;
    padding: 10px;
}

.num {
    font-size: 36px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
.list li {
    margin-bottom: 25px;
    font-size: 18px;
    color: #929292;
}
.list-item {
    margin: 10px 0;
}

.btnprice {
    background-color: #F85C70;
    
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e45e6b;
}

@media (max-width: 768px) {
    .column {
        flex: 1 0 45%;
    }
}

@media (max-width: 480px) {
    .column {
        flex: 1 0 100%;
    }
}

/* blog */


  .blog-section {
      padding: 50px 0;
  }

  .blog-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .blog-title {
      font-size: 36px;
      margin-bottom: 25px;
  }

  .highlight {
      color: #F85C70;
  }

  .blog-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .blog-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      margin-bottom: 20px;
      display: flex;
    }

  .image-holder img {
      width: 100%;
  }

  .content-holder {
      padding: 20px;
  }

  .blog-card-title {
      font-size: 18px;
      margin-bottom: 10px;
  }

  .post-details {
      margin-bottom: 15px;
  }

  .post-details a {
      color: #555;
      font-size: 14px;
      margin-right: 15px;
      text-decoration: none;
  }

  .post-details a .text-danger {
      color: #F85C70;
  }

  .post-details i {
      margin-right: 5px;
  }

  .content-holder p {
      color: #666;
      font-size: 14px;
      line-height: 1.6;
  }

  .read-more {
      color: #F85C70;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
  }

  .read-more i {
      margin-left: 5px;
  }

  @media (max-width: 768px) {
      .blog-card {
          width: 100%;
          display: flex;
          flex-direction: column;
      }

  }



  /* contact */
  .contact-section {
      padding: 50px 0;
      background-color: #ededed;
  }



  .contact-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  }
  .contact-container h1{
      color: #222222;
      
  }
  .contact-container .highlight{
      color: #F85C70;
  }

  .contact-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  }

  .contact-form-wrapper,
  .contact-info-wrapper {
      flex-basis: 48%;
  }

  .contact-form-card,
  .contact-info-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
  }

  .contact-title {
      font-size: 24px;
      margin-bottom: 20px;
      color: #F85C70;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
  }

  .form-submit-btn {
      background-color: #F85C70;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
  }

 
  .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  }



  .contact-text h6 {
      margin: 0;
      font-size: 16px;
  }

  .contact-text p {
      margin: 0;
      font-size: 14px;
      color: #555;
  }

  .social-icons {
      list-style: none;
      padding: 0;
      display: flex;
      margin-top: 20px;
  }

  .social-icons li {
      margin-right: 15px;
  }

  .social-link {
      font-size: 20px;
      color: #555;
      text-decoration: none;
      transition: color 0.3s ease;
  }

  

  @media (max-width: 768px) {

      .contact-form-wrapper,
      .contact-info-wrapper {
          flex-basis: 100%;
      }
  }